# docker-compose.yml
version: "3.9"

services:
  backend:
    build: ./server
    container_name: my-backend
    ports:
      - "5000:5000"
    environment:
      - .env
      - CODEFORCES_API=https://codeforces.com/api/contest.list
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis

  frontend:
    build: ./client
    container_name: my-frontend
    ports:
      - "3000:80"
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    depends_on:
      - backend


  # ai-service:
  #   build: ./ai-service
  #   container_name: my-ai-service
  #   ports:
  #     - "8081:8081"
  #   volumes:
  #     - ./ai-service:/app
  #     - /app/node_modules
  #   environment:
  #     - REDIS_URL=redis://redis:6379
  #   depends_on:
  #     - redis

  postgres:
    image: postgres:15-alpine
    container_name: my-postgres
    restart: always
    env_file:
      - .env 
    ports: 
      - "5432:5432"
 
  redis:
    image: redis:7-alpine
    container_name: my-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
  postgres_data: